html {
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

@keyframes spin {
 from {
  transform: rotate(0deg);
 }
 to {
  transform: rotate(180deg);
 }
}

@keyframes buttonFunky {
 0% {
  transform: scale(1) translateY(0);
 }
 10% {
  transform: scale(1.3) translateY(-8px);
 }
 20% {
  transform: scale(1.05) translateY(-20px);
 }
 30% {
  transform: scale(1.2) translateY(-15px);
 }
 40% {
  transform: scale(1.1) translateY(-18px);
 }
 50% {
  transform: scale(1.18) translateY(-12px);
 }
 60% {
  transform: scale(1.08) translateY(-14px);
 }
 70% {
  transform: scale(1.15) translateY(-10px);
 }
 80% {
  transform: scale(1.1) translateY(-11px);
 }
 90% {
  transform: scale(1.13) translateY(-9px);
 }
 100% {
  transform: scale(1.12) translateY(-10px);
 }
}

@keyframes buttonShimmer {
 0% {
  background-position: -200% center;
 }
 100% {
  background-position: 200% center;
 }
}

@keyframes buttonPop {
 0% {
  transform: scale(1);
 }
 50% {
  transform: scale(1.2);
 }
 100% {
  transform: scale(1);
 }
}

.chakra-theme.light {
 --background: #efe8da;
 --foreground: #171717;
 --chakra-colors-bg-panel: #faf7f2;
 --chakra-colors-border: var(--chakra-colors-brand-primary);
}

.chakra-theme.dark {
 --background: #1a202c;
 --foreground: #ededed;
 --chakra-colors-bg-panel: #2d3748;
 --chakra-colors-border: var(--chakra-colors-gray-600);
}

.chakra-theme {
 background: var(--background);
 color: var(--foreground);
}
