@import 'tailwindcss';

@theme inline {
 --color-background: var(--background);
 --color-foreground: var(--foreground);
 --font-sans: var(--font-geist-sans);
 --font-mono: var(--font-geist-mono);
}

@keyframes spin {
 from {
  transform: rotate(0deg);
 }
 to {
  transform: rotate(180deg);
 }
}

.chakra-theme.light {
 --background: #efe8da;
 --foreground: #171717;
 --chakra-colors-border: var(--chakra-colors-brand-primary);
}

.chakra-theme.dark {
 --background: #1a202c;
 --foreground: #ededed;
 --chakra-colors-border: var(--chakra-colors-gray-600);
}

.chakra-theme {
 background: var(--background);
 color: var(--foreground);
}
